html,
body,
#app {
  margin: 0 !important;
  padding: 0 !important;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

p {
  margin: 0;
}

h1 {
  font-size: 1.8rem;
  margin: 0;
}

*:focus {
  outline: none;
}
